@import "./card/card";

.respond {
  position: relative;
  padding: 40px 0;
  width: 100%;
  overflow: hidden;

  &__slide {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: transform 1s;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    &_left {
      left: 0;
      background: url(../../../images/main/respond/slider/arrow-left.svg) no-repeat center;
      background-size: contain;
    }

    &_right {
      display: none;
      right: 0;
      background: url(../../../images/main/respond/slider/arrow-right.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__title {
    @include fonts-style ("Poppins", normal, 40px, normal, 100%, black);
    text-align: center;
  }

  &__cards {
    margin-top: 75px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 400%;
  }

  &__card {
    box-sizing: border-box;
    max-width: 300px;
    position: relative;
    left: 0;
    margin: 0 50px;
  }
}

@media only screen and (max-width: 1200px) {
  .respond {
    margin: 0 auto;
    width: 800px;
  }
}

@media only screen and (max-width: 800px) {
  .respond {
    margin: 0 auto;
    width: 400px;
  }
}

@media only screen and (max-width: 400px) {
  .respond {

    &__title {
      max-width: 300px;
      margin: 0 auto;
    }

    &__slide {

      &_left {
        left: 10px;
      }
    
      &_right {
        right: 50px;
      }
    }
  }
}