@import "./tests/tests";
@import "./blocks-content/blocks-content";
@import "./article/article";
@import "./about/about";
@import "./respond/respond";
@import "./join/join";

.main {
  max-width: $max-width;
  margin: 0 auto;

  &__tests {

  }

  &__blocks-content {
    margin: 100px 0;
  }

  &__about {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  &__respond {

  }
}
