$fixed-own-color: black;

.fixed-navigation {
  position: fixed;
  right: 0;
  top: 25%;
  text-align: right;
  z-index: 5;
  padding-right: 20px;
  transition: right 1s ease-in-out;

  &__show {
    background: url(../images/main/respond/slider/arrow-left.svg) no-repeat;
    display: none;
    position: fixed;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 15%;
    background-size: contain;
    transition: transform 0.7s;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  &__list {
    @include fonts-style ("Poppins", 500, 14px, normal, 100%, $fixed-own-color);
  
    & :hover {
      transform: scale(1.1);
    }
  }

  &__element {
    margin: 15px 0;
    transition: margin 1s, width 1s, transform 1s;
 
    &_active {
      margin-right: 25px;
      position: relative;
      font-size: 16px;
  
      &::after {
        content: "";
        width: 25px;
        height: 1px;
        right: -30px;
        margin-top: 5px;
        background: $fixed-own-color;
        position: absolute;
  
      }
    }
  }

  &__item {
    color: $fixed-own-color;
  }
}

#fixedNavShow {
  display: none;
}

@media only screen and (max-width: 1500px) {

  .fixed-navigation {
    right: -50%;
    background: #ffffff6b;

    &__show {
      display: block;
    }
  }

  #fixedNavShow {

    &:checked ~ .fixed-navigation {
      right: 0;
    }
  }
}
