.own-button {
  margin: 50px 0 0;
  padding: 20px 40px;
  background: black;
  color: white;
  outline: none;
  border: none;
  @include fonts-style ("Aleo", normal, 14px, normal, 100%, white);
  transition: background 1s, color 1s;
  cursor: pointer;

  &:hover {
    background: white;
    color: black;
  }
}

html,
body {
  background: white;
  min-width: 350px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
