@import "./roof/roof";
@import "./slider/slider";

.header {

  &__roof {
    width: 100%;
    height: 80px;
    background: white;
  }

  &__slider {
    position: relative;
    width: 100%;
    height: 650px;
  }

  &__main-text {
    position: absolute;
    text-align: center;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
      @include fonts-style ("Gelasio", bold, 80px, normal, 80%, white);
    }
  }
}

@media only screen and (max-width: 960px) {

}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 500px) {
  .header {
    &__main-text {
      & h1 {
        @include fonts-style ("Gelasio", bold, 40px, normal, 80%, white);
      }
    }
  }
}
